In [38]:
# Q1. Create one variable containing following type of data:

#(i)	string

#(ii)list

#(iii)float

#(iv)tuple

a = "jaydeep"
b = [120,5.11,4+5j,"jay",True]
c = 11.25
tuple = ( "hi python" ,"my name is jaydeep" , 125,[1,11.25,5+6j] )

In [39]:
a

'jaydeep'

In [40]:
b

[120, 5.11, (4+5j), 'jay', True]

In [41]:
c

11.25

In [42]:
tuple

('hi python', 'my name is jaydeep', 125, [1, 11.25, (5+6j)])

In [43]:
#Q2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1.

# What will be the data type of the above given variable

var1 = ' '
var2 = '[ds , ml ,python]'
var3 = ['ds' , 'ml' ,'python']
var4 = 1

In [44]:
type(var1)

str

In [45]:
type(var2)

str

In [46]:
type(var3)

list

In [47]:
type(var4)

int

In [48]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [49]:
# 1. / - for the use of division
a = 20/5.5

In [50]:
a

3.6363636363636362

In [51]:
# 2. % - for the use of modulus
a1 = 100 % 10

In [52]:
a1

0

In [53]:
# 3. // - floor division
a2 = 20 // 5.5

In [54]:
a2

3.0

In [55]:
# 4. ** - exponent 
a3 = 2**3

In [56]:
a3

8

In [57]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l = [ 11  , 25.50 , True , bin(10) , 4+5j, 'jay' , range(10),False, 1000 , '112']
for i in l :
    print(i)
    print(type(i))

11
<class 'int'>
25.5
<class 'float'>
True
<class 'bool'>
0b1010
<class 'str'>
(4+5j)
<class 'complex'>
jay
<class 'str'>
range(0, 10)
<class 'range'>
False
<class 'bool'>
1000
<class 'int'>
112
<class 'str'>

In [58]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisiblv
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

while A % B == 0:
    count += 1
    A = A / B

if count > 0:
    print("Number A is purely divisible by B ", count, " times.")
else:
    print("Number A is not purely divisible by B.")

Enter the value of A:  1000
Enter the value of B:  5

Number A is purely divisible by B  3  times.

In [59]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

l = [12,30,35,50,25,11,13,120,125,225,555,300,900,999,111,520,749,49,56,41,441,520,524,824,884]
for i in l:
    if i % 3==0:
        print(i)
else:
     print ('above int divisible by 3')

12
30
120
225
555
300
900
999
111
441
above int divisible by 3

In [60]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
# ans ; the colletion of data is mutable data types for example list, we can change in list data but in a particular string or 
#       data we cannot change this type of data is immutable.
l = [ 123, 12,12.5,['bfb','njn',' nmd']]
j = 'jaydeep'

In [61]:
#  change in list is mutable
l[3]=12

In [62]:
l

[123, 12, 12.5, 12]

In [63]:
# change in string is immutable
j[2] = 'h'

TypeError: 'str' object does not support item assignment

In [65]:
print (l,j)

[123, 12, 12.5, 12] jaydeep